<meta name="description" content="<%= seo.description %>" />
<meta property="og:description" content="<%= seo.description %>" />
<meta property="og:image" content="<%= seo.imageUrl || defaultImageUrl %>" />
<meta property="og:site_name" content="<%= siteName %>" />
<meta property="og:title" content="<%= seo.title %>" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="<%= seo.description %>" />
<meta name="twitter:image" content="<%= seo.imageUrl || defaultImageUrl %>" />
<meta name="twitter:title" content="<%= seo.title %>" />
<title><%= seo.title %> | <%= siteName %></title>
